[submodule "api"]
	path = api
	url = https://github.com/mihailShumilov/syntaxnet_api_server.git
[submodule "syntaxnet_api_server"]
	path = syntaxnet_api_server
	url = https://github.com/mihailShumilov/syntaxnet_api_server.git
